@font-face {
  font-family: "StarJedi";
  src: url(/assets/Starjedi.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: black;
}
header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo .title {
  padding-left: 1rem;
  font-size: 30pt;
  line-height: 3rem;
  color: #ffe81f;
  font-family: "StarJedi", sans-serif;
}
header .logo .subtitle {
  font-size: 12pt;
  padding-left: 1rem;
  color: rgb(175, 175, 175);
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
header nav ul li {
  margin: 0 1rem;
  font-size: 16pt;
}
header nav ul li a {
  text-decoration: none;
  color: #ffe81f;
}
header nav ul li a:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ffe81f, 0 0 82px #ffe81f, 0 0 92px #ffe81f, 0 0 102px #ffe81f;
  color: #ffe81f;
}

article {
  margin: 0 2rem;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.people-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .people-container {
    flex-direction: row;
  }
}

#people-list {
  height: 100%;
  margin-top: 2px;
}
#people-list select.listbox {
  display: none;
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  #people-list select.listbox {
    display: block;
    margin-right: 1rem;
  }
}
#people-list select.dropdown {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  #people-list select.dropdown {
    display: none;
  }
}

#person-detail div {
  padding: 0;
  border: 2px solid black;
  border-radius: 4px;
  border-spacing: 0;
}
#person-detail div p:first-child {
  padding: 0.5rem;
  background-color: black;
  color: #ffe81f;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#person-detail div p {
  margin: 0;
  padding: 0 0.5rem;
}
#person-detail div button {
  width: 60%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 20%;
  margin: 1rem 20% 1rem 20%;
}

.person-card {
  padding: 0;
  margin-top: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  border-spacing: 0;
}
.person-card p:first-child {
  padding: 0.5rem;
  background-color: black;
  color: #ffe81f;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.person-card p {
  margin: 0;
  padding: 0 0.5rem;
}
.person-card button {
  width: 60%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 1rem 20% 1rem 20%;
}

#start {
  width: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #ffe81f;
  font-size: larger;
  font-weight: 700;
  border-radius: 6px;
  margin: 1rem 10% 1rem 10%;
}

#team-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  #team-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

#start-battle-section h3 {
  text-align: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

/*
.spinner {
  // The height here is just for demo purposes
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
  &::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #ef6565;
    border-radius: 50%;
    content: '';
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}*/

/*# sourceMappingURL=style.css.map */
