:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --yellow: #ffe81f;
}

@font-face {
  font-family: "StarJedi";
  src: url(/assets/Starjedi.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 250px;
}

article {
  max-width: 960px;
  height: 100%;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 668px) {
  article {
    margin: 0 2em;
  }
}
@media only screen and (min-width: 1025px) {
  article {
    margin: 0 auto;
  }
}

header {
  display: flex;
  background-color: var(--black);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 2rem;
  /* Hide checkbox */
  /* Toggle menu icon */
}
header .logo {
  flex-grow: 1;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}
header .logo .title {
  padding-left: 1rem;
  font-size: 24pt;
  line-height: 3rem;
  color: #ffe81f;
  font-family: "StarJedi", sans-serif;
}
@media only screen and (min-width: 668px) {
  header .logo .title {
    font-size: 30pt;
  }
}
header .logo .subtitle {
  font-size: 12pt;
  padding-left: 1rem;
  color: rgb(175, 175, 175);
}
header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
@media only screen and (min-width: 668px) {
  header .menu-icon {
    display: none;
  }
}
header .menu-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
header .menu-line::before,
header .menu-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
header .menu-line::before {
  top: 5px;
}
header .menu-line::after {
  top: -5px;
}
header .side-menu:checked ~ nav {
  max-height: 100%;
}
header .side-menu {
  display: none;
}
header .side-menu:checked ~ .menu-icon .menu-line {
  background: transparent;
}
header .side-menu:checked ~ .menu-icon .menu-line::before {
  transform: rotate(-45deg);
  top: 0;
}
header .side-menu:checked ~ .menu-icon .menu-line::after {
  transform: rotate(45deg);
  top: 0;
}
header nav {
  width: 100%;
  height: 100%;
  top: 80px;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
@media only screen and (min-width: 668px) {
  header nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
header nav ul li {
  margin: 0 1rem;
  font-size: 16pt;
}
@media only screen and (min-width: 668px) {
  header nav ul li {
    float: left;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #ffe81f;
  display: block;
  padding: 1rem;
}
header nav ul li a:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ffe81f, 0 0 82px #ffe81f, 0 0 92px #ffe81f, 0 0 102px #ffe81f;
  color: #ffe81f;
}
@media only screen and (min-width: 668px) {
  header nav ul {
    display: flex;
    flex-direction: row;
  }
}

.hidden {
  visibility: hidden;
}

.people-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media only screen and (min-width: 668px) {
  .people-container {
    flex-direction: row;
  }
}

#people-list {
  height: 100%;
  margin-top: 2px;
}
#people-list select.listbox {
  display: none;
  font-size: large;
}
@media only screen and (min-width: 668px) {
  #people-list select.listbox {
    display: block;
    margin-right: 1rem;
  }
}
#people-list select.dropdown {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  font-size: large;
}
@media only screen and (min-width: 668px) {
  #people-list select.dropdown {
    display: none;
  }
}

#person-detail div {
  padding: 0;
  border: 2px solid black;
  border-radius: 4px;
  border-spacing: 0;
}
#person-detail div p:first-child {
  padding: 0.5rem;
  background-color: black;
  color: #ffe81f;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#person-detail div p {
  margin: 0;
  padding: 0 0.5rem;
}
#person-detail div button {
  width: 60%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 20%;
  margin: 1rem 20% 1rem 20%;
  background-color: #2c8bcf;
  color: var(--white);
}

.person-card {
  padding: 0;
  margin-top: 1rem;
  border: 2px solid var(--black);
  border-radius: 4px;
  border-spacing: 0;
}
.person-card p:first-child {
  padding: 0.5rem;
  background-color: var(--black);
  color: #ffe81f;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.person-card p {
  margin: 0;
  padding: 0 0.5rem;
}
.person-card button {
  width: 60%;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #b64419;
  color: var(--white);
  margin: 1rem 20% 1rem 20%;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#start {
  width: 80%;
  max-width: 300px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #71989c;
  color: var(--white);
  font-size: larger;
  font-weight: 700;
  border-radius: 6px;
  margin: 1rem;
}
#start:hover {
  color: #ffe81f;
}

#team-container input[type=text] {
  font-size: larger;
}
#team-container .person-card-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 668px) {
  #team-container .person-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

.battle-card {
  border: 2px solid #b64419;
  border-radius: 4px;
  border-spacing: 0;
  color: black;
  margin-bottom: 1rem;
}
.battle-card .battle-header {
  background-color: #b64419;
  color: white;
  padding: 4px 4px;
  margin-bottom: 4px;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}
.battle-card .battle-header .title {
  flex-grow: 1;
  font-size: 1rem;
}
.battle-card .battle-header .score-card {
  display: flex;
  flex-direction: column;
}
.battle-card .battle-header .score-card .score-title {
  margin-top: -2px;
  width: 100%;
  font-size: xx-small;
  text-align: center;
}
.battle-card .battle-header .score-card .score {
  text-align: center;
}
.battle-card .fighters {
  margin: 4px;
}
.battle-card .fighters .fighter-card:nth-child(even) {
  background-color: #ccc;
}

/*# sourceMappingURL=style.css.map */
